

nav{
	z-index: 10;
	width:100%;
	position:fixed;
	left: 5px;
	top: 0px;
background-color: #efefef;

}

li{
display: inline;
margin-left: 150px;}

h1{
	position: relative;
	
	
}

h2{
	position:relative;
	margin: 10px;	
}

img{
	position:relative;
	left: 400px;
	width: 400px;
	
}